<!-- <div class="langing-page">
    <div class="hero-description">
      <div class="hd-nav">
        <div class="brand-name">
            <img src="assets/brand.png" alt="Social Media Manager" class="px-2">
          Social Media Manager
          <br />
        </div>
      </div>
  
      <div class="one-stop py-2">
          Your One Stop to all Social Media Platforms
      </div>
    </div>

     <div class="hero-image">
      <div class="hi-nav">
        <span class="nav-links"><a routerLink="/subscription">Subscribe</a></span>
        <span class="nav-links"><a routerLink="/login">Login /Sig Up</a></span>
      </div>
        <img src="/assets/hero-image.jpg"/>
    </div>
</div> -->

<div class="langing-page">
  <img src="/assets/landing-page/top-banner.png" class="top-banner" />
  <img src="/assets/landing-page/logo.png" class="logo" />
  
  
  <img src="/assets/landing-page/instagram.png" class="instagram animate__animated animate__fadeInDown animate__delay-2s" />
  <img src="/assets/landing-page/twitter.png" class="twitter animate__animated animate__fadeInDown animate__delay-2s" />
  <img src="/assets/landing-page/facebook.png" class="facebook animate__animated animate__fadeInDown animate__delay-2s" />

  <img src="/assets/landing-page/red-circle.png" class="red-circle animate__animated animate__fadeInRight animate__fast" />
  <img src="/assets/landing-page/violet-circle.png" class="violet-circle animate__animated animate__fadeInRight animate__fast" />
  <img src="/assets/landing-page/green-circle.png" class="green-circle animate__animated animate__fadeInRight animate__fast" />
  <img src="/assets/landing-page/orange-circle.png" class="orange-circle animate__animated animate__fadeInRight animate__fast" />

  <img src="/assets/landing-page/mobile-vector.png" class="mobile-vector animate__animated animate__fadeInRight animate__delay-1s" />
  <img
    src="/assets/landing-page/banner-text.png"
    class="banner-text animate__animated animate__fadeInLeft animate__delay-1s"
  />

  <!-- <div class="login-button">Login</div> -->
  <div class="login-options">
    <svg viewBox="0 0 1024 1024" class="icon" (click)="socialSignIn('facebook')">
      <title>facebook</title>
      <path
        d="M608 192h160v-192h-160c-123.514 0-224 100.486-224 224v96h-128v192h128v512h192v-512h160l32-192h-192v-96c0-17.346 14.654-32 32-32z">
      </path>
    </svg>

    <svg viewBox="0 0 860.0137142857142 1024" class="icon" (click)="socialSignIn('google')">
      <title>google</title>
      <path
        d="M438.857 449.143h414.286c4 22.286 6.857 44 6.857 73.143 0 250.286-168 428.571-421.143 428.571-242.857 0-438.857-196-438.857-438.857s196-438.857 438.857-438.857c118.286 0 217.714 43.429 294.286 114.857l-119.429 114.857c-32.571-31.429-89.714-68-174.857-68-149.714 0-272 124-272 277.143s122.286 277.143 272 277.143c173.714 0 238.857-124.571 249.143-189.143h-249.143v-150.857z">]
      </path>
    </svg>
  </div>
  

</div>