<div class="langing-page">
    <div class="hero-description">
      <div class="hd-nav">
        <div class="brand-name">
            <img src="assets/brand.png" alt="Social Media Manager" class="px-2">
          Social Media Manager
          <br />
        </div>
      </div>
  
      <div class="one-stop py-2">
          Your One Stop to all Social Media Platforms
      </div>
    </div>

     <div class="hero-image">
      <div class="hi-nav">
        <span class="nav-links"> Subscribe </span>
        <span class="nav-links" (click)="loginPage()">Login /Sig Up</span>
      </div>
        <img src="/assets/hero-image.jpg"/>
    </div>
</div>
  