<!-- <div class="langing-page">
    <div class="hero-description">
      <div class="hd-nav">
        <div class="brand-name">
            <img src="assets/brand.png" alt="Social Media Manager" class="px-2">
          Social Media Manager
          <br />
        </div>
      </div>
  
      <div class="one-stop py-2">
          Your One Stop to all Social Media Platforms
      </div>
    </div>

     <div class="hero-image">
      <div class="hi-nav">
        <span class="nav-links"><a routerLink="/subscription">Subscribe</a></span>
        <span class="nav-links"><a routerLink="/login">Login /Sig Up</a></span>
      </div>
        <img src="/assets/hero-image.jpg"/>
    </div>
</div> -->

<div class="langing-page">
  <img src="/assets/landing-page/top-banner.png" class="top-banner" />
  <img src="/assets/landing-page/logo.png" class="logo" />
  
  
  <img src="/assets/landing-page/instagram.png" class="instagram animate__animated animate__fadeInDown animate__delay-2s" />
  <img src="/assets/landing-page/twitter.png" class="twitter animate__animated animate__fadeInDown animate__delay-2s" />
  <img src="/assets/landing-page/facebook.png" class="facebook animate__animated animate__fadeInDown animate__delay-2s" />

  <img src="/assets/landing-page/red-circle.png" class="red-circle animate__animated animate__fadeInRight animate__fast" />
  <img src="/assets/landing-page/violet-circle.png" class="violet-circle animate__animated animate__fadeInRight animate__fast" />
  <img src="/assets/landing-page/green-circle.png" class="green-circle animate__animated animate__fadeInRight animate__fast" />
  <img src="/assets/landing-page/orange-circle.png" class="orange-circle animate__animated animate__fadeInRight animate__fast" />

  <img src="/assets/landing-page/mobile-vector.png" class="mobile-vector animate__animated animate__fadeInRight animate__delay-1s" />
  <img
    src="/assets/landing-page/banner-text.png"
    class="banner-text animate__animated animate__fadeInLeft animate__delay-1s"
  />
  
  <!-- <button class="btn btn-dark login-button">Post</button> -->
  <a routerLink="/login">
    <div class="login-button">
      <img src="/assets/landing-page/login-background.png" class="login-background" />
      <img src="/assets/landing-page/login-text.png" class="login-text" />
    </div>
  </a>
</div>