<div class="subscription-container">
    <div class="nav"></div>
    <div class="subscription">
      <span class="text">
        Subcription Plans
        <br />
      </span>
    </div>
    <div class="plans">
      <div class="plan-period">
        <span class="text01">Annual/Monthly</span>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1"></label>
          </div>
      </div>
      <div class="plan-description">
        <span class="text02">
            Subscribe to a paid plan and unlock much more !!!
        </span>
        <div class="prices">
          <div class="container1">
            <div class="price-tag">
              <span>$3</span>
              <span>More Social Profiles</span>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2"></label>
              </div>
            </div>
            <div class="price-tag1">
              <span>$3</span>
              <span>More Posts/Month</span>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3"></label>
              </div>
            </div>
            <div class="price-tag2">
              <span>$3</span>
              <span>Profile Support</span>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                <label class="custom-control-label" for="customSwitch4"></label>
              </div>
            </div>
          </div>
          <div class="container2">
            <button class="btn btn-dark">
              Subscribe
              <br />
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  