.side-bar {
    width: 19rem;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    box-shadow: .4rem .4rem .6rem 0.9rem #ddd;
    background-color: #fdfdfd;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .integrate-link {
    width: 12.5rem;
    height: 6.25rem;
    display: flex;
    padding: 0.6rem;
    align-items: flex-start;
    margin-bottom: 3rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .integrate-link1 {
    width: 12.5rem;
    height: 6.25rem;
    display: flex;
    padding: 0.6rem;
    margin-top: 0;
    align-items: center;
    margin-left: 0;
    border-color: #0f0f0f;
    border-width: 1px;
    margin-right: 0;
    border-radius: 0.6rem;
    margin-bottom: 0.3rem;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5rem #ddd;
  }
  .integrate-link1:hover {
      background-color: #ddd;
  }
  .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .integrate-link7 {
    width: 12.5rem;
    height: 6.25rem;
    display: flex;
    padding: 0.6rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .custom-control-label::after {
    border-color: #ddd;
    background-color: #ddd; 
  }

  .custom-control-input:checked~.custom-control-label::before {
    background-color: #080808;
    border-color: #080808;
  }

  .overlay-container {
    position: fixed;
    top: 0rem;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(0.1rem) saturate(100%) contrast(45%) brightness(130%);
  }

  .loading {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3;
  }